:root{
    font-family: Roboto, sans-serif;
}

$colorOrangeButtons: #f26002;
$colorWhite: #ffffff;
$colorBlueSky: #8ccbea;
$colorBlueMenu: #0271bc;
$colorBlueDark: #304268;

$fontTitles: "Roboto Slab", serif;