.articles{
    background-color: #eff9ff;
    padding: 25px 20px 60px 20px;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 40px;

    /*mediaquerie tablet*/
	@media screen and (width >= 768px){
        padding: 30px 20px 60px 20px;
        grid-template-columns: 1fr 1fr 1fr;
	}
    @media screen and (width >= 1280px){
        padding-top: 60px;
	}

    &__title{
        font-family: $fontTitles;
        font-size: 24px;
        font-weight: bold;
        /*mediaquerie tablet*/
	    @media screen and (width >= 768px){
            grid-column: 1/4;
            font-size: 26px;
	    }
        @media screen and (width >= 1280px){
            font-size: 32px;
        }
    }
    &__article{
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
	    @media screen and (width >= 768px){
            padding-left: 15px;
            padding-right: 15px;
	    }
        @media screen and (width >= 1280px){
            padding-left: 30px;
            padding-right: 30px;
	    }
        &--title{
            font-family: $fontTitles;
            font-weight: bold;
            @media screen and (width >= 768px){
                font-size: 24px;
            }
        }

        &--text{
            margin-top: 10px;
            line-height: 1.6;
            @media screen and (width >= 768px){
                font-size: 20px;
            }
        }
    }
    &__button{
        color: $colorWhite;
        font-size: 20px;
        background-color: $colorOrangeButtons;
        border: 2px solid $colorOrangeButtons;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 30px;
        transition: all 1s;

        @media screen and (width >= 768px){
            grid-column: 2/3;
            margin-left: 15px;
            margin-right: 15px;
	    }
        @media screen and (width >= 1280px){
            margin-left: 90px;
            margin-right: 90px;
        }
    }
    &__button:hover {
        background-color: $colorWhite;
        color: $colorOrangeButtons;
        border: 2px solid $colorOrangeButtons;
        box-shadow: 0px 0px 15px 0px $colorOrangeButtons;
        transform: scale(1.1);
    }
}