.banner {
  padding: 37px 15px;
  /*mediaquerie tablet*/
  @media screen and (width >= 768px) {
    padding: 37px 39px;
  }
  /*mediaquerie desktop*/
  @media screen and (width >= 1280px) {
    padding: 37px 275px;
  }

  &__subtitle {
    color: $colorBlueSky;
    font-size: 16px;
  }
  &__title {
    margin-top: 15px;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.25;
    @media screen and (width >= 1280px) {
      font-size: 32px;
    }
  }
  &__text {
    margin-top: 20px;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.6;
    @media screen and (width >= 1280px) {
      font-size: 20px;
    }
  }
  &__buttonGo {
    color: $colorOrangeButtons;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 30px;
    border: 2px solid $colorOrangeButtons;
    border-radius: 25px;
    transition: all 1s;
    /*mediaquerie desktop*/
    @media screen and (width >= 1280px) {
      padding: 10px 60px;
    }
  }
  &__buttonGo:hover {
    background-color: $colorOrangeButtons;
    color: $colorWhite;
    box-shadow: 0px 0px 15px 0px $colorOrangeButtons;
    transform: scale(1.1);
  }
}
