<footer class="footer">
    <a href="#"><img src="./images/ico-arrow.svg" alt="scroll down"></a>
    <nav>
        <ul>
            <li>ARTICLES</li>
            <li>BOOKS</li>
            <li>EVENTS</li>
            <li>REASONS</li>
            <li>TIPS</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>MASTODON.SOCIAL</li>
        </ul>
    </nav>
    <span>&copy;2022</span>
    <span>we <i class="fa-solid fa-heart"></i> components</span>
</footer>