<footer class="footer">
    <a href=#header><img class="footer__arrow" src="./images/ico-arrow.svg" alt="scroll down"></a>
    <nav class="footer__menu">
        <ul class="footer__menu--ul">
            <li><a class="footer__menu--ul link" href={=$linkWeb} >ARTICLES</a></li>
            <li><a class="footer__menu--ul link" href={=$linkWeb}>BOOKS</a></li>
            <li><a class="footer__menu--ul link" href={=$linkWeb}>EVENTS</a></li>
            <li><a class="footer__menu--ul link" href={=$linkWeb}>REASONS</a></li>
            <li><a class="footer__menu--ul link" href={=$linkWeb}>TIPS</a></li>
        </ul>
    </nav>
    <nav class="footer__menu">
        <ul class="footer__menu--ul">
            <li><a class="footer__menu--ul link" href={=$linkWeb}>TWITTER</a></li>
            <li><a class="footer__menu--ul link" href={=$linkWeb}>INSTAGRAM</a></li>
            <li><a class="footer__menu--ul link" href={=$linkWeb}>MASTODON.SOCIAL</a></li>
        </ul>
    </nav>
    <section class="footer__copyright">
        <span>&copy;2022</span>
        <span>we <i class="fa-solid fa-heart"></i> components</span>
    </section>
</footer>